In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv('placement.csv')

In [3]:
df.shape

(200, 2)

In [4]:
df

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [5]:
df.isnull().sum()

cgpa       0
package    0
dtype: int64

In [6]:
# Dataset
X = df['cgpa']
y = df['package']

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df[['cgpa']],y,test_size=0.2,random_state=42)

In [49]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((160, 1), (40, 1), (160,), (40,))

In [83]:
def KNN_reg(X_train,X_test,y_train,k):
    # Distance and prediction
    r=[]
    for x in X_test.to_numpy():
        y=0
        y = ((X_train - x)**2).sum(axis=1)
        distances=np.sqrt(y)
        neighbors_idx = np.argsort(distances)[:k]
        avg = np.mean(y_train.iloc[neighbors_idx])
        r.append(avg)
    return r

In [85]:
y_pred = KNN_reg(X_train,X_test,y_train,3)

In [89]:
from sklearn.metrics import r2_score
# Calculate R² score
r2 = r2_score(y_test, y_pred)
print(f"R² Score: {r2}")

R² Score: 0.7093629090469906

In [93]:
new_df =pd.read_csv('economic_index.csv')

In [95]:
new_df.head()

   Unnamed: 0  year  month  interest_rate  unemployment_rate  index_price
0           0  2017     12           2.75                5.3         1464
1           1  2017     11           2.50                5.3         1394
2           2  2017     10           2.50                5.3         1357
3           3  2017      9           2.50                5.3         1293
4           4  2017      8           2.50                5.4         1256

In [97]:
new_df.drop(columns=['Unnamed: 0','year','month'],axis=0,inplace=True)

In [99]:
X1 = new_df.drop('index_price',axis=1)
y1 = new_df['index_price']

In [103]:
X_train1,X_test1,y_train1,y_test1 = train_test_split(X1,y1,test_size=0.2,random_state=42)

In [107]:
y_pred1 = KNN_reg(X_train1,X_test1,y_train1,3)

In [109]:
# Calculate R² score
r2 = r2_score(y_test1, y_pred1)
print(f"R² Score: {r2}")

R² Score: 0.8100170632141583